<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true"/>
  </runtime>
    <appSettings>
        <add key="WechatUrlHost" value="https://wx2.qq.com/"/>
        
        <!-- 多少秒钟获取一次新闻 -->
        <add key="NewsReflashTimer" value="30"/>

        <!--直播群名字，分号分隔多个群-->
        <add key="ContactListForLiveNews" value="嗨牛测试;嗨牛测试2群" />

    </appSettings>
</configuration>
